*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background-color: rgb(211, 211, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.page-work{
    min-height: 80vh;
    width: 100%;
    background-color: white;
    border-radius: 6px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create{
    font-size: 28px;
    font-weight: lighter;
    color: rgb(33, 33, 84);
}

.text-work{
    font-size: 14px;
    font-weight: 600;
    color: rgb(33, 33, 84);
}

.new{
    width: 100%;
    height: 8vh;
    border: 2px solid rgb(208, 208, 208);
    border-radius: 4px;
    padding: 0 20px;
    font-size: 25px;
    color: rgb(131, 131, 131);
}

.btn-work{
    height: 7vh;
    width: 370px;
    color: rgb(56, 136, 211);
    background-color: white;
    border: 2px solid rgb(56, 136, 211);
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
}

.pen{
    width: 60px;
    height: 60px;
    background-color: white;
    border: 2px solid rgb(208, 208, 208);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#work-pen{
    color: rgb(131, 131, 131);
    font-size: 18px;
}

.butt{
    height: 8vh;
    width: 370px;
    color: rgb(56, 136, 211);
    background-color: white;
    border: 2px solid rgb(56, 136, 211);
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
}

.ava{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btns{
    display: flex;
    gap: 20px;
}

.sz{
    height: 8vh;
    width: 370px;
    color: white;
    background-color: rgb(56, 136, 211);
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
}